
.Assignature svg {
    width: 40%;
    height: 40%;
    /* fill: #65bbf2; */
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: var(--assignaturePathLength); 
    stroke-dashoffset: 0; 
		animation: 5s drawAssignature infinite alternate;	
}

.Twitter svg {
    width: 40%;
    height: 40%;
    fill: #65bbf2;
    /* fill: transparent; */
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: var(--twitterPathLength); 
    stroke-dashoffset: 0; 
        animation: 5s drawTwitter infinite alternate;	
}

@keyframes drawAssignature {
  to {
		/* Inicio: Ponto inicial */
    stroke-dashoffset: var(--assignaturePathLength);     
  }  
  from {
		/* Fim: Altera o início para 0 */
    stroke-dashoffset: 0;    
  }  
}  

@keyframes drawTwitter {
  to {
		/* Inicio: Ponto inicial */
    stroke-dashoffset: var(--twitterPathLength); 
  }
  from {
		/* Fim: Altera o início para 0 */
    stroke-dashoffset: 0;
  }
}